# Copyright 2026 Loreum Digital Inc
# SPDX-License-Identifier: Apache-2.0

include README.md
include LICENSE
include NOTICE
include pyproject.toml
recursive-include retiqo *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

